<?php

define('AC_HOST','192.168.88.10');
define('AC_PORT',7777);
define('AC_PREFIX','/asterisk/');
define('AC_TLS',false);
define('AC_DB_CS','mysql:host=localhost;port=3306;dbname=asteriskcdrdb');
define('AC_DB_UNAME','root');
define('AC_DB_UPASS','rootpwd');

define('AC_TIMEOUT',0.75);
/* Files - file:///var/spool/asterisk/monitor/%Y/%m/%d/# */
/* Grandstream - https://192.168.88.10:8443/recapi?filedir=monitor&filename=auto-1498160406-79293641441-6501.wav */
/* Yeastar - ftp://root:ys123456@192.168.88.10/# */
define('AC_RECORD_PATH','https://cdrapi:cdrapipwd@192.168.88.10:8443/recapi?filedir=monitor&filename=#'); /* can be http, https or sftp */
define('AC_TIME_DELTA', 3); /* hours. Ex. GMT+4 = 4 */

define('AC_INTEGRATION_AREACODE', false); /* Area code for local city phone detection. Ex: 495 for Moscow numberx XXX-XX-XX */
define('AC_INTEGRATION_OUTBOUND_CONTEXT', 'DLPN_DialPlan'); /* Outbound dialing context, DLPN_DialPlan for Yeastar */
define('AC_INTEGRATION_DIALPLAN', 'national'); /* Dial-out format. national, national-by or e.164 */
define('AC_INTEGRATION_SIPCHANNEL', 'SIP'); /* SIP or PJSIP */
define('AC_INTEGRATION_CUSTOM_TYPE', 'grandstream'); /* Integration type in case auto-detect failed. Values: asterisk, freepbx, yeastar, grandstream */

if (file_exists('/etc/freepbx.conf')) {
	define('AC_INTEGRATION_TYPE', 'freepbx');
} else {
	define('AC_INTEGRATION_TYPE', AC_INTEGRATION_CUSTOM_TYPE); 
}

/* Yeastar values */
define('AC_YEASTAR_SSH','ssh://root:ys123456@192.168.88.10:8022/'); /* can be http, https or sftp */

/* Grandstream values */
define('AC_GRANDSTREAM_API','https://192.168.88.10:8443/'); 
define('AC_GRANDSTREAM_API_USER','cdrapi'); 
define('AC_GRANDSTREAM_API_SECRET','cdr123'); 

/* FreePBX values */
define('AC_FREEPBX_FOLLOWME', true); /* Use followme and forward rules on click2call */
